h1 {
color: purple;
}

#header1, #p1{
    color: green;
}
#p2, #p3 {
    color: blue;
}
#header3{
    color: rgb(100, 105, 50);
}
#blog > h1 {
    color: blue;
}
a:hover{
    color: orange;
}
#header1{
    font-family: cursive;
    font-size: 12px;
}
#header3{
    text-transform: uppercase;
}
#middle{
    display: block;
    text-align: center;
}
.child2{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.child3{
    width: 50%;
    float: right;
}
#do{
    font-size: 40px;
    font-style: italic;
}
p{
    font-size: 30px;
}